        /*common*/
        * {
            font-family: 'Jua', sans-serif;
            box-sizing: border-box;
        }
        .wrap {
            width: 900px;
            margin: auto;
        }
        .topNav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 16px;
        }
        .logo img{
            width:120px
        }
        .MyPicture {
            width: 100px;
            height: 80px;
            overflow: hidden;
            position: relative;
        }
        .MyPicture img{
            width: 130%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
        .PageTitle{
            margin-bottom: 20px;
            font-size: 32px;
        }
        .MyList{
            display: flex;
            justify-content: space-between;
            gap:20px;
            align-items: center;
            background-color: blanchedalmond;
            border-radius: 10px;
            padding: 25px 20px;
        }
        .flex{
            display: flex;
            gap: 10px;
            align-items: self-end;
        }
        .flex-center{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0 ;
        }
        .flex-center h2{
            width: 81%;
        }
        .likeNum{
            margin-right: 10px;
        }
        .contents{
            padding: 30px 16px;
        }
         .sportsList{
            list-style: none;
            padding: 0px;
            display: flex;
            justify-content: space-between;
        }
        .sportsList a{
            display: block;
        }
        .bottomNav{
            text-align: center;
           padding: 20px;
        }
        .logOut{
            padding-left: 20px;
        }
        .videoCards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
        }
        .videoCard{
            width: 31%;
            border-radius: 10px;
            padding: 15px;
            border: 1px solid #999;
        }
        .videoCard>a{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
        .videoCard .thumbnail{
            border-radius: 10px;
            width: 100%;
            height: 160px;
            background: #405D9D;
            overflow: hidden;
            position: relative;
        }
        .videoCard .thumbnail img{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%) scale(1.2);

        }
        .videoCard .viedoTxt{
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 10px;
        }
        .videoCard .viedoTxt h4{
            font-size: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* ellipsis line */
            -webkit-box-orient: vertical;
            line-height: 1.2em;
	        height: 3.6em;
            color: #000;
        }
        .videoCard .viedoTxt .like{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .videoCard .viedoTxt .like i{
            color: #e8344e;
        }
        .videoCard .viedoTxt .like span{
            color: #000;
        }
        .paginationjs ul {
            display: flex;
            justify-content: center;
            margin-top: 40px;
        }
        .paginationjs li a{
            width:50px;
            height:50px;
            border:1px solid #405D9D;
            display: block;
            text-align: center;
            line-height: 50px;
            font-size: 18px;
            margin-right: 6px;
        }
         .paginationjsli.active a{
            background: #405D9D;
             color: #fff;
        }
         .commentBox{
             height:340px;
             background-color:#dddddd;
             padding: 12px;
             border-radius: 15px;
         }
         .commentWindow{
             height:260px;
             background-color: #fff;
            border-radius: 15px;
             overflow: scroll;
             padding: 12px;
         }
         .comment{
             padding: 8px;
             background-color: #fff;
              border-radius: 8px;
             color: #000;
             margin-bottom: 10px;
             border: 1px solid #000;
         }
         .commentName{
             justify-content: flex-end;
         }
         .commentName h5{
             margin-right: auto;
         }

         #msg{
                width: 100%;
                display: block;
                margin-top: 10px;
                border-radius: 7px;
                box-shadow: none;
                border: 0px;
                height: 37px;
                padding: 0px 16px;
         }
