        /*common*/
        * {
            font-family: 'Jua', sans-serif;
        }
        .wrap {
            width: 900px;
            margin: auto;
        }
        .topNav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 16px;
        }
        .logo img{
            width:120px
        }
        .MyPicture {
            width: 100px;
            height: 80px;
            overflow: hidden;
            position: relative;
        }
        .MyPicture img{
            width: 130%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
        .MyList{
            display: flex;
            justify-content: space-between;
            gap:20px;
            align-items: center;
            background-color: blanchedalmond;
            border-radius: 10px;
            padding: 25px 20px;
        }
        .flex{
            display: flex;
            gap: 10px;
            align-items: self-end;
        }
        .contents{
            padding: 30px 16px;
        }
         .sportsList{
            list-style: none;
            padding: 0px;
            display: flex;
            justify-content: space-between;
        }
        .sportsList a{
            display: block;
        }
        .bottomNav{
            text-align: center;
        }
        .logOut{
            padding-left: 20px;
        }