{% extends "layout.html" %}
{% block title %}{% endblock %} {% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<script>
    $(function () {
        let data = 'baseball'
        function showStar(data) {
          $.ajax({
              type: 'GET',
              url: '/api/sports',
              data: {
                  category:data
              },
              success: function (res) {
                  let List = res['result']
                  cateGoryList(List)
              }
          });
        }
        showStar(data)
        function cateGoryList(List){
            let container = $('#pagination');
            container.pagination({
            dataSource: List,
            pageSize: 9,
            showPrevious: false,
            showNext: false,
            callback: function (data, pagination) {
                var dataHtml = '<ul class="videoCards">';

                $.each(data, function (index, item) {
                    let li = `<li class="videoCard">
                           <a href="${item.link}">
                            <div class="thumbnail">
                                <img src='${item.image}'>
                            </div>
                            <div class="viedoTxt">
                                 <h4 class="title">${item.title}</h4>
                                 <div class="like">
                                    <i class="fas fa-heart"></i>
                                    <span class="num">342</span>
                                 </div>
                            </div>
                           </a>
                          </li>`

                    dataHtml += li;
                });
                dataHtml += '</ul> ';

                $("#data-container").html(dataHtml);
            }
        })
        }

    })
</script>
<body>
<h2 class="PageTitle"> 카테고리 </h2>
<div id="demo1">
    <div id="data-container"></div>
    <div id="pagination"></div>
</div>


</body>
{% endblock %}