{% extends "layout.html" %}
{% block title %}{% endblock %} {% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<script>
  let data_id = "{{ id }}"

  $(document).ready(function () {
          getReply();
          get_details()

 });

function num2str(count) {
    if (count > 10000) {
        return parseInt(count / 1000) + "k"
    }
    if (count > 500) {
        return parseInt(count / 100) / 10 + "k"
    }
    if (count == 0) {
        return ""
    }
    return count
}

function likeUp(post_id,type) {
    let $a_like = $(`#${post_id} button.likeBtn`)
    let $i_like = $a_like.find("i")
    if ($i_like.hasClass("fas")) {
        $.ajax({
            type: "POST",
            url: "/update_like",
            data: {
                post_id_give: post_id,
                type_give: type,
                action_give: "unlike"
            },
            success: function (response) {
                console.log("unlike")
                $i_like.addClass("far").removeClass("fas")
                $a_like.find("span.likeNum").text(num2str(response["count"]))
                console.log(response["count"])
            }
        })
    }else {
        $.ajax({
            type: "POST",
            url: "/update_like",
            data: {
                post_id_give: post_id,
                type_give: type,
                action_give: "like"
            },
            success: function (response) {
                console.log("like")
                $i_like.addClass("fas").removeClass("far")
                $a_like.find("span.likeNum").text(num2str(response["count"]))
                console.log(response["count"])
            }
        })

    }
}
  //상세정보 가져오기
 function get_details() {
      $.ajax({
          type: "GET",
          url: '/api/details',
          data: {
            data_id:data_id,
          },
          success: function (response) {
              let res = response['result']
              const videoLink = res.link.replace("https://www.youtube.com/watch?v=", " ")
              let class_heart = res['heart_by_me'] ? "fas": "far"
              let count_heart = res['count_heart']
              const video = ` <div id="${res._id}">
                                <iframe width="872" height="486" src="https://www.youtube.com/embed/${videoLink.replace(/\s/gi, "")}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="flex-center">
                                        <h2>${res.title}</h2>
                                        <div>
                                            <button class="likeBtn" onclick="likeUp('${ res._id }','heart')">
                                                 <span class="likeNum">${num2str(count_heart)}</span>
                                                <i class="${ class_heart } fa-heart"></i>LIKE
                                            </button>
                                    </div>
                                </div>
                              </div>
                            `
              $('.videoBox').append(video)

          }
      })
     }
  // 댓글 전송
 function reply(){
        let comment = $("#msg").val();
        if(comment ==""){
          alert("메세지를 입력하세요")
        }
        $.ajax({
             type: "POST",
             url: '/api/comment',
             data: {
               comment:comment,
               replyBoardId:data_id
             },
             success: function (response) {
              window.location.reload();
             }
         });
     }
  // #댓글 전체 조회
 function getReply() {
                    $.ajax({
                        type: "GET",
                        url: "/api/comments",
                        data: {
                            replyBoardId: data_id
                        },
                        success: function (response) {
                            let res = response['result']
                            console.log(res)
                            for (let i = 0; i < res.length; i++) {
                                console.log(res[i].comment)
                                let commentId = res[i]._id
                                let comment = res[i].comment
                                let username = res[i].username
                                let html =
                                                    `
                            <div class="commentName flex">
                                <div>
                                 <p id="commentId" style="display:none">${commentId}</p>
                                 <p id="userReplyName">${username}</p>
                                 <p id="text">${comment}</p>
                                </div>
                                <div>
                                 <button class="delBtn" onclick="deleteBtn(${ commentId })"><i class="fas fa-times"></i></button>
                                 <button class="modifyBtn"><i class="fas fa-redo"></i></button>
                               </div>
                            </div>
                              `
                                $('#reply').append(html)
                                                }
                        }
                    });
  }
  // # 댓글삭제
 function deleteBtn(Id){
        console.log(Id)

         $.ajax({
             type: "DELETE",
             url: '/api/comment',
             data: {
                Id:Id
             },
             success: function (response) {
              location.reload();
             }
         });
     }
</script>
<body>
 <div class="videoBox">
</div>
<div class="commentBox">
    <div class="commentWindow">
        <ul>
            <li class="comment" id="comment">
                <p id="reply"></p>
            </li>
        </ul>
    </div>
    <div>
        <p class="text"></p>
        <input type="text" id="msg">
        <button id="comment_btn" type="button" onclick="reply()"></button>
    </div>

</div>
</body>
{% endblock %}