{% extends "layout.html" %}
{% block title %}{% endblock %} {% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<script>
  let num = '{{ index }}'
  let key = '{{ key }}'
 $(document).ready(function () {
     get_details()
 })

 function get_details() {
     $.ajax({
         type: "GET",
         url: '/api/details/',
         beforeSend: function (xhr) {
             xhr.setRequestHeader("Authorization", "Token [내토큰]");
         },
         data: {
           num:num,
           key:key
         },
         error: function (xhr, status, error) {
             alert("에러 발생!");
         },
         success: function (response) {
             console.log(response)
         }
     })
 }
</script>
<body>
  <h2 class="PageTitle"> 야구장에서 개그를하는심판...</h2>
  <iframe width="872" height="486" src="https://www.youtube.com/embed/56Kz5RzaO9I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="commentBox">
    <div class="commentWindow">
     <ul>
      <li class="comment">
       <div class="commentName flex">
         <h5>헱창보일</h5>
        <button class="deleteBtn"><i class="fas fa-times"></i></button>
       <button class="modifyBtn"><i class="fas fa-redo"></i></button>
       </div>
       <p class="text"> 와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우</p>
      </li>
      <li class="comment">
       <div class="commentName flex">
         <h5>헱창보일</h5>
        <button class="deleteBtn"><i class="fas fa-times"></i></button>
       <button class="modifyBtn"><i class="fas fa-redo"></i></button>
       </div>
       <p class="text"> 와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우</p>
      </li>
      <li class="comment">
       <div class="commentName flex">
         <h5>헱창보일</h5>
        <button class="deleteBtn"><i class="fas fa-times"></i></button>
       <button class="modifyBtn"><i class="fas fa-redo"></i></button>
       </div>
       <p class="text"> 와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우</p>
      </li>
      <li class="comment">
       <div class="commentName flex">
         <h5>헱창보일</h5>
        <button class="deleteBtn"><i class="fas fa-times"></i></button>
       <button class="modifyBtn"><i class="fas fa-redo"></i></button>
       </div>
       <p class="text"> 와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우</p>
      </li>
      <li class="comment">
       <div class="commentName flex">
         <h5>헱창보일</h5>
        <button class="deleteBtn"><i class="fas fa-times"></i></button>
       <button class="modifyBtn"><i class="fas fa-redo"></i></button>
       </div>
       <p class="text"> 와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우</p>
      </li>
      <li class="comment">
       <div class="commentName flex">
         <h5>헱창보일</h5>
        <button class="deleteBtn"><i class="fas fa-times"></i></button>
       <button class="modifyBtn"><i class="fas fa-redo"></i></button>
       </div>
       <p class="text"> 와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우</p>
      </li>
      <li class="comment">
       <div class="commentName flex">
         <h5>헱창보일</h5>
        <button class="deleteBtn"><i class="fas fa-times"></i></button>
       <button class="modifyBtn"><i class="fas fa-redo"></i></button>
       </div>
       <p class="text"> 와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우</p>
      </li>
      <li class="comment">
       <div class="commentName flex">
         <h5>헱창보일</h5>
        <button class="deleteBtn"><i class="fas fa-times"></i></button>
       <button class="modifyBtn"><i class="fas fa-redo"></i></button>
       </div>
       <p class="text"> 와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우</p>
      </li>
      <li class="comment">
       <div class="commentName flex">
         <h5>헱창보일</h5>
        <button class="deleteBtn"><i class="fas fa-times"></i></button>
       <button class="modifyBtn"><i class="fas fa-redo"></i></button>
       </div>
       <p class="text"> 와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우</p>
      </li>
      <li class="comment">
       <div class="commentName flex">
         <h5>헱창보일</h5>
        <button class="deleteBtn"><i class="fas fa-times"></i></button>
       <button class="modifyBtn"><i class="fas fa-redo"></i></button>
       </div>
       <p class="text"> 와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우</p>
      </li>
      <li class="comment">
       <div class="commentName flex">
         <h5>헱창보일</h5>
        <button class="deleteBtn"><i class="fas fa-times"></i></button>
       <button class="modifyBtn"><i class="fas fa-redo"></i></button>
       </div>
       <p class="text"> 와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우와우</p>
      </li>
     </ul>
    </div>
    <input id="msg"></input>
  </div>
</body>
{% endblock %}