{% extends "layout.html" %}
{% block title %}{% endblock %} {% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<body>
        <ul class="sportsList">
            <li>
               <a href="/category/soccer">
                  <img src={{ url_for('static', filename='img/main1.png') }}>
                </a>
            </li>
            <li>
                <a href="/category/baskball">
                  <img src={{ url_for('static', filename='img/main2.png') }}>
                </a>
            </li>
            <li>
                <a href="/category/baseball">
                  <img src={{ url_for('static', filename='img/main3.png') }}>
                </a>
            </li>
        </ul>
</body>

{% endblock %}