<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/css/reset.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>Hallchang / {{ name }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/static/js/pagination.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <link href="/static/css/main.css" rel="stylesheet">
    {% endblock %}

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script>
$(document).ready(function(){
    request()
});

function request(){
 $.ajax({
        type: "GET",
        url: "/api/profile",
        data: {
        },
        success: function (response) {
            let name = response['memberId']

            $("#names").append(name +'님 환영합니다')
        }
    });
  }


    </script>
</head>
<body>
<div class="wrap">
    <haeder class="topNav">
        <h1 class="logo">
            <a href="/">
                 <img src={{ url_for('static', filename='img/logo.png') }}>
            </a>
        </h1>
        <div class="MyList">
            <div class="MyPicture">
                 <img src={{ url_for('static', filename='img/man.jpeg') }}>
            </div>
            <div class="rightContents">
                <div class="flex">
                    <h2 class="name">
                        <p id = "names"></p>
                    </h2>
                </div>
                <a href="/" class="logOut" onclick="sign_out()">로그아웃</a>
            </div>
        </div>
    </haeder>
    <div class="contents {{name}}Page">
        {% block content %}{% endblock %}
    </div>
    <footer class="bottomNav">
        Capyright 2021. 헬창링크. All rights reserved.
    </footer>
</div>
</body>

</html>